* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato;
}

header nav .top,
header nav .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.logo h1 a {
    display: block;
    color: #000;
    text-decoration: none;
    font-size: 2em;
}

.bottom {
    background: lightgray;
    padding: 6px;
}

.menu ul li {
    display: inline-block;
    margin: 0 6px;
}

.menu ul li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #000;
    font-size: 1.3em;
}


.menu ul li a.active {
    background: gray;
    color: #fff;
}

.menu ul li a.active:hover {
    color: #000;
}

.menu ul li a:hover {
    background: #fff;
}

.banner,
.contact {
    background: #64666a;
    padding: 100px 0;
}

.container {
    padding: 0 200px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.col-3 {
    width: 33%;
    padding: 10px;
}

.col-2 {
    width: 50%;
    padding: 10px;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.image {
    width: 100%;
    display: block;
    height: 250px;
    max-height: 500px;
    background-position: center;
    background-size: 110%;
    background-repeat: no-repeat;
    -webkit-transition: background-size .3s ease;
    transition: background-size .3s ease;
}

.image:hover {
    background-size: 100%;
}

.title {
    font-size: 3em;
    color: #fff;
    margin-bottom: 20px;
}

.about .info {
    margin-bottom: 30px;
}

.about .info h3 {
    font-size: 1.5em;
    color: #fff;
    font-weight: bolder;
    margin-bottom: 20px;
}

.about .info p {
    color: #fff;
    font-weight: 100;
    padding: 0;
}

.info {
    margin-top: 30px;
}

.info p {
    font-size: 1.3em;
    color: #fff;
    margin-bottom: 10px;
    padding: 0 10px;
}

.info p:last-child {
    margin-bottom: 0;
}

.contact .details h1 {
    margin-bottom: 4px;
}

.contact .details p {
    margin-bottom: 20px;
}

.contact .details p,
.contact .details p a {
    color: lightgray;
}

.contact .details p a {
    text-decoration: none;
}

.form form input,
.form form textarea {
    width: 100%;
    padding: 10px 16px;
    margin-bottom: 12px;
}

.form form input:last-child {
    margin-bottom: 0;
}

.form form input[type="submit"] {
    background: #000;
    color: #fff;
    border: 1px solid #000;
    cursor: pointer;
}

iframe {
    width: 100%;
    min-height: 500px;
    max-height: 800px;
}

footer .top {
    padding: 50px 0;
}

footer .about h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

footer .about p {
    font-size: 1.2em;
    line-height: 1.5em;
}

footer .menu ul li {
    display: block;
}

footer .menu ul li a {
    padding: 10px 0;
}

footer .bottom {
    padding: 20px 0;
}